/* bestdestinations uses grid /---> delete afterwards this shit 
<--- index uses flex-box ---/> delete this shit */
#index{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 16px;
    display: flex;
}
body{
    width: 100%;
}


/*
#index a{
    background-color: black;
    width: 100%;
    float: left;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#index h1{
    background-color: darkslategrey;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#index h2{
    background-color: gray;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#index .container{
    background-color: midnightblue;
    top: 300px;
    left:0;
    height: 70px;
    padding:20px;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
/*#index .nav{
    background-color: midnightblue;
    top: 350px;
    left:0;
    height: 70px;
    padding:20px;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}*/
/*#index #list{
    background-color: salmon;
    top: 400px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
/*#index #Rome{
    background-color: lightgreen;
    top: 500px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
/*#index #logoRome{
    right: 80%;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#index #Florida{
    background-color:seagreen;
    top: 600px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#index #Nice{
    background-color: green;
    top: 5700px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}*/

#index, #tickets, #contact .contain{
    background-color: lightgreen;
    top: 500px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#index, #tickets, #contact .aside{
    background-color: white;
    display: flex;
    top: 500px;
    right:0;
    justify-content: flex-end;
    position: fixed;
    right: 33%;
    bottom: 50%;
}

#index .copyright{
    color: #ffff;
    position:fixed;
    float: left;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: left;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: flex;

    }
#index .cookie{
    background-color: #FA0;
    position:fixed;
    float: left;
    color:#FFF;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: right;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: flex;

    }


#bestdestinations{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 16px;
    display: grid;

    }
#bestdestinations a{
    background-color: black;
    width: 100%;
    float: left;
    display: grid;
}

#bestdestinations .nav{
    background-color: midnightblue;
    float: left;
    display: grid;
    grid-area:navTag;
}
#bestdestinations #Rome{
    background-color: #ffff;
    float: left;
    display: grid;
    grid-area: RomeTag;

}
#bestdestinations #Florence{
    background-color: lightgreen;
    float: left;
    display: grid;
    grid-area: FlorenceTag;
}
#bestdestinations #Pensacola{
    background-color: royalblue;
    float: left;
    display: grid;
    grid-area: PensacolaTag;
}
#bestdestinations #Miami{
    background-color: green;
    float: left;
    display: grid;
    grid-area: MiamiTag;
}
#bestdestinations #Nice{
    background-color: seagreen;
    float: left;
    display: grid;
    grid-area: NiceTag;
}
#bestdestinations #Monaco{
    background-color: salmon;
    float: left;
    display: grid;
    grid-area: MonacoTag;
}

#bestdestinations aside-1{
    width: 33%;
    float: left;
    background-color: black;
    display: grid;
    grid-area: aside1Tag;
}
#bestdestinations aside-2{
    width: 33%;
    float: left;
    background-color: black;
    display: grid;
    grid-area: aside2Tag;
}
#bestdestinations aside-3{
    width: 33%;
    float: left;
    background-color: black;
    display: grid;
    grid-area: aside3Tag;
}
#bestdestinations .copyright{
    color: #ffff;
    position:fixed;
    float: left;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: left;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: grid;
    grid-area: copyrightTag;
    }
#bestdestinations .cookie{
    background-color: #FA0;
    position:fixed;
    float: left;
    color:#FFF;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: right;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: grid;
    grid-area: cookieTag;
    }




    #tickets{
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        font-size: 16px;
        display: flex;
    }

#tickets #ticketstext{
    background-color: lightgreen;
    top: 500px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#tickets .table{
    background-color: lightgreen;
    top: 500px;
    left: 50px;;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}


#tickets .copyright{
    color: #ffff;
    position:fixed;
    float: left;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: left;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: flex;

    }
#tickets .cookie{
    background-color: #FA0;
    position:fixed;
    float: left;
    color:#FFF;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: right;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: flex;

    }




#contact{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 16px;
    display: flex;
}

#contact #contacttext{
    background-color: white;
    top: 500px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#contact #messagebox{
    background-color: white;
    top: 200px;
    left:0;
    display: flex;
    position: fixed;
    text-align: left;
    font-size: 12px;
    margin: 0;
}
#contact #copyright{
    color: #ffff;
    position:fixed;
    float: left;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: left;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: flex;

    }
#contact #cookie{
    background-color: #FA0;
    position:fixed;
    float: left;
    color:#FFF;
    opacity: 50%;
    width: 100%;
    bottom:0;
    left:0;
    text-align: right;
    z-index: 9999;
    font-family: Notable;
    font-size: 16px;
    display: flex;

    }
#contact #container{
    padding: 20px;
    border-radius: 5px;
    background-color: midnightblue;
    display: flex;

}
#contact form{
    background-color: mediumturquoise;
    display: flex;

}
input[type=supmit]{
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #04aa6d;
    color: #ffff;
    display: flex;


}
input[type=text], select, textarea{
    padding:12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 100X;
    display: flex;

}


.container{
    display: inline-block;
    cursor: pointer;
}
.hamburger1, .hamburger2, .hamburger3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .hamburger1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .hamburger2{
    opacity: 0;
}
.change .hamburger3{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); 
}



#bestdestinations .container {
    background-color: lawngreen;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    grid-template-areas: 
      "header\,-header\,-header\,-header\,-header\,-header\,-header"
      "containerTag containerTag containerTag containerTag containerTag containerTag"
      "navTag"
      "FlorenceTag FlorenceTag RomeTag RomeTag PensacolaTag PensacolaTag"
      "FlorenceTag FlorenceTag RomeTag RomeTag MiamiTag MiamiTag"
      "NiceTag NiceTag RomeTag RomeTag MiamiTag MiamiTag"
      "NiceTag NiceTag MonacoTag MonacoTag MonacoTag MonacoTag"
      "aside1Tag aside1Tag aside2Tag aside2Tag aside3Tag aside3Tag"
      "copyrightTag copyrightTag copyrightTag copyrightTag cookieTag cookieTag";
  }